@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: Poppins, Inter;
  /* margin: 10%; */
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
  /* margin-left: 20px; */
  /* text-decoration: none; */
  /* color: white; */
  /* margin-top: 40px; */
  /* list-style-type: none; */
  /* justify-content: space-around; */

}

.nav li a {
  text-decoration: none;
  color: #fff;
  padding: 40px;
}

.home {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 100px;
  font-weight: 900;
}

.home1 {
  margin-left: 100px;
  font-size: 30px;
}

.home2,
.home3,
.home4,
.home5 {
  margin-left: 100px;
}

.home6 {
  margin-top: 20px;
  margin-left: 100px;
  }
.home6 a{
  text-decoration: none;
  color: #fff;
}
button {
  background-color: #ED661F;
  margin-top: 30px;
  margin-right: 100px;
  width: 100px;
  height: 40px;
}
.start a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}

.produce {
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position-y: center;
  height: 800px;
  display: flex;
  justify-content: space-around;
  
}

.img2 {
  height: 500px;
  width: 700px;
  margin-top: 100px;
  margin-right: 150px;

}

.cover {
  margin-top: 120px;
  margin-left: 150px;
}

#coverh2 {
  font-size: 60px;
  font-weight: 1000;
}

#coverp {
  margin-top: 0;
  font-size: 15px;
  font-weight: lighter;
}

#explore {
  color: white;
  font: bold;
  font-size: 22px;
  height: 80px;
  width: 200px;
}
#explore a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}
.numbers{
  display: flex;
  justify-content: space-between;
  border: 10px;
  background-color: #fff;
  box-shadow: 2px 3px grey;
  width: 800px;
  position: absolute;
  right: 150px;
  bottom: 8px;
  

}
#numbers1{
  margin-left: 15px;
}
#numbers3{
  margin-right: 15px;
}
.exist {
  padding: 100px;
  margin-left: 100px;
  height: 500px;
}

.img3 {
  float: right;
  height: 500px;
  width: 800px;
  margin-right: 100px;
}

#products {
  text-align: center;
}

#h3popular,
#h3item {
  margin-left: 45px;
}

#popular,
#item {
  display: flex;
  justify-content: space-around;

}

.popular,
.item {
  margin: 40px;
}

.popular2,
.item2 {
  width: 340px;
}

.img {
  width: 340px;
}

#all {
  margin: 10%;
  display: flex;
  justify-content: end;
}

hr {
  background-color: gray;
  height: 20px;
  width: 80%;
}

.customers {
  margin: 10%;
}

.response {
  display: flex;
  justify-content: space-between;
}

.r {
  float: right;
  margin-right: 100px;

}

.res {
  box-shadow: 2px 2px 2px 1px gray;
  height: 300px;
  /* font-family: Poppins; */
}

/* .unaria-hidden{ */
/* color:grey; */
/* font-size:30px; */

.rr {
  float: right;
  margin-right: 170px;
}

.fa {
  color: #ED661F;
  font-size: 50px;
  margin-top: 30px;
}

#more {
  margin: 10%;
  display: flex;
  justify-content: end;
}

/* #footer{ */

#intouch {
  background-color: black;
  color: white;
  text-align: center;
  height: 300px;

}

#rights {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

}

#p {
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  text-align: center;

}