body{
    font: Poppins ;
}
 .nav{
  display: flex;
  
 }
.home{
  
  display: flex;
  justify-content: space-between;
  margin: 10%;

}
  
button{
  background-color:#ED661F ;
  width: 100px;
  height: 40px;
}
  
.produce{
  display: flex;
  margin: 10%
}
.exist{
  padding: 100px;
  margin-left: 100px;
  height: 500px;
}
.img3{
  float: right;
  height: 500px;
  width: 800px;
  margin-right: 100px;
  }
#products{
  text-align: center;
  }
  #h3popular{
    margin-left: 12%;
  }
#popular{
  margin-left: 30%;
  display: flex;
  justify-content:space-around;
}
.item{
 margin: 10%;
}
#item{
  display: flex;
}
#all{
 margin: 10%;
 display: flex;
 justify-content: end;
}

hr{
  background-color: gray;
  height: 20px;
  width: 80%;
}
.customers{
  margin: 10%;
}
.response{
  display: flex;
}